@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

ul{
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  height: 50px;
  padding: 10px;

}

@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
