<nav class="header bg1">
  <a href="/">
    <div class="logo">
      <img src="../../assets/logo.png" alt="" />
      <span>Istim</span>
    </div>
  </a>

  <a href="/create" class="btn" *ngIf="showButton"> Cadastrar jogo </a>
  <div class="link" *ngIf="hideButtonLogin" class="login">
    <a href="/login"> <img src="../../../assets/enter.png" alt="" />Entrar</a>
  </div>
  <div class="link" *ngIf="showButton">
    <button  *ngIf="showButton" (click)="exit()">
      <a class="btn" href="/">Sair</a>
    </button>
  </div>
</nav>
