*,
body {
  margin: 0px;
  padding: 0px;
}

.btn {
  background-color: black;
  padding: 20px;
}

.btn-exit {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
}

.btn-exit-link {
  color: black;
}

.btn-exit a {
  color: black;
}
.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin: 0 auto;
  padding: 0.8em 1em;
  border-radius: 10px 10px 0 0;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(18, 38, 63, 0.1);
}

.header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5em;
  color: #fff;
}

.logo img {
  width: 70px;
  margin-right: 1em;
}

.login {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(18, 38, 63, 0.1);
}
.login a {
  display: flex;
  align-items: center;
  color: rgba(84, 139, 177, 0.9);
}
.login img {
  width: 30px;
  margin-right: 15px;
}

@media only screen and (max-width: 500px) {
  .header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .link {
    z-index: 20;
  }
}
