.container {
  display: flex;
  flex: 1;
  font-family: "Roboto", sans-serif;
}

.image-console {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.container:hover {
  background-color: #000;
  color: #fff;
}
